<mat-toolbar>
    Mentor Profile
</mat-toolbar>
<div>
<div> <h2>My Courses</h2></div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
            <th scope="col" colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <th scope="row">{{course.id}}</th>
            <td>{{course.course_name}}</td>
            <td>{{course.desc}}</td>
            <td><button class="btn btn-primary">Update</button></td>
        </tr>
    </tbody>
</table>