<mat-toolbar>
    Mentor Profile
</mat-toolbar>
<div *ngIf="showMessage" class="alert alert-success" role="alert">
  Course added successfully !!
</div>

<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
    <div class="header">
        <img class="avatar mat-elevator-z8" src="assets/images/user.jpg">
        <h4 class="name">Alex Mathew</h4>
        <p class="country">India</p>
    </div>
    <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/mentor_edit_profile">
            Edit Profile
        </button>
        
        <button mat-button class="menu-button" routerLink="/mentor-courses">
            My Courses
        </button>
        
        <button mat-button class="menu-button" routerLink="/mentor_view_request">
            View Request
        </button>
        <mat-divider></mat-divider>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content mat-elevation-z4">
            <div class="input-group mb-3">
                <!-- <span class="input-group-text" id="basic-addon1">Search</span> -->
                <input type="text" #search (keyup)="0" class="form-control" placeholder="Search a Course" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="content">
              <!-- <div id="sect1"class="container">       
    <h2>Now Load image on the displa\</h2>  
    </div>     -->

    <div class="container">
      <div class="row gutters">
      <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
          <div class="card-body">
              <div class="account-settings">
                  <div class="user-profile">
                      <div class="user-avatar">
                          <img src="https://bootdey.com/img/Content/avatar/avatar7.png" width="100" height="100">
                      </div>
                      <div class="form-group">
                        <br>

                        <input type="text" #mentor_image (keyup)="0" class="form-control" id="firstname" placeholder="Enter Image Url">
                    </div>
                      <!-- <h5 class="user-name">Rahul sigh</h5>
                      <h6 class="user-email">abc123@gmail.com</h6> -->
                  </div>
                  <div class="about">
                      <!-- <h5>About</h5>
                      <p>I'm Rahul.Angular front end designer.</p> -->
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
          <div class="card-body">
              <div class="row gutters">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <h6 class="mb-2 text-primary">Course Details</h6>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="fullName">Course Name</label>
                          <input type="text" #course_name (keyup)="0" class="form-control" id="firstname" placeholder="Enter Course Name">
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="eMail">Description</label>
                          <input type="email" #desc (keyup)="0" class="form-control" id="last name" placeholder="Enter description">
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="phone">Mentor Name</label>
                          <input type="text" #mentor_name (keyup)="0"class="form-control" id="phone" placeholder="Enter Mentor Name">
                      </div>
                  </div>
                  
              </div>
              <br>
              <div class="row gutters">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="text-right">
                          <!-- <button type="button" id="submit" name="submit"  class="btn btn-secondary">Discard</button>&nbsp;&nbsp; -->
                          <button type="button" id="submit" name="submit"  class="btn btn-primary" (click)="addCourses(course_name.value, desc.value, mentor_name.value,mentor_image.value)">Add Course</button>
                      </div>
                      <!-- (click)="addWorkout(title.value, desc.value, cbpm.value)" -->
                      <!-- (click)="addWorkout(title.value, desc.value, cbpm.value)" -->
                  </div>
              </div>
          </div>
      </div>
      </div>
      </div>
      </div>
  
  
  
  
  
  
                <!-- <mat-card class="mat-elevation-z4">
                  <mat-card-header>
                    <mat-card-title #course_name>JAVA</mat-card-title>
                  </mat-card-header>
                  <img mat-card-image src="https://miro.medium.com/max/400/1*ymeYaH7cI6L7rv4ViF8K0A.jpeg">
                  <mat-card-content>
                    <p #desc>
                      Java Course for beginners.
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-button class="button" >ADD</button>
                    (click)="addCourses(course_name, desc)"
                    <button mat-button class="button">DELETE</button>
                  </mat-card-actions>
                </mat-card> -->
              </div>
            
            
        </div>
      </mat-sidenav-content>
</mat-sidenav-container>





