    <div class="navbar">      
        <button mat-button [matMenuTriggerFor]="menu">Register</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/user">User</button>
            <button mat-menu-item routerLink="/mentor">Mentor</button>
            <button mat-menu-item routerLink="/admin">Admin</button>
        </mat-menu>  
    </div>
<div></div>
  <div class="header">
     
      <img src="assets/images/img.jpg" height="700" width="1536">
     
  </div>
    
    
    
    


